@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
}

* {
    box-sizing: border-box;
}

html {
}

body {
    text-rendering: optimizeSpeed;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
}
